body{

background:#f2f2f2;
font-family:Arial,sans-serif;

}


#searchBox{

width:250px;

}


.card{

border:none;
border-radius:15px;
overflow:hidden;
transition:.3s;

}


.card:hover{

transform:translateY(-7px);
box-shadow:0 10px 20px rgba(0,0,0,.2);

}


.card img{

height:220px;
object-fit:contain;
padding:20px;
background:white;

}


.card-title{

height:50px;
overflow:hidden;

}


.price{

color:green;
font-size:22px;
font-weight:bold;

}


.cart-btn{

background:#ff9800;
color:white;
font-weight:bold;

}


.cart-btn:hover{

background:#e68900;
color:white;

}


.cart-img{

width:80px;
height:80px;
object-fit:contain;

}


.cart-card{

border-radius:12px;

}
