*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f5f7fa;
}

.card-quiz{
    width:500px;
    min-height:500px;
}

.option-btn{
    width:100%;
    height:45px;
    font-weight:600;
}

.option-btn:hover{
    background:#0d6efd;
    color:white;
}
